<section id="skills-sec">
  <div class="headers">
    <h2>My skills</h2>
    <p>Technologies i work with</p>
  </div>
  <div id="skills">
    <div id="tech-space">
      <h4>Technical skills</h4>
      <div id="tech-skills">
        <div id="container-one"></div>
        <div id="container-two"></div>
      </div>
    </div>

    <div id="Professional-spoace">
      <h4>Professional skills</h4>
      <p>
        Beyond technical abilities, I bring a range of professional skills to my
        work:
      </p>
      <ul>
        <li>Problem Solving & Critical Thinking</li>
        <li>Project Management & Organization</li>
        <li>Communication & Collaboration</li>
        <li>Adaptability & Quick Learning</li>
        <li>Attention to Detail</li>
        <li>User Experience Design/responsive web apps</li>
      </ul>
      <p>
        I am committed to continuous learning and staying updated with the
        latest web development trends and best practices.
      </p>
    </div>
  </div>
</section>

<!-- <div class="mee"></div> -->
