<section class="hero" id="home">
  <div id="hero-image">
    <img src="assets/retroDev.png" alt="pic-of-coder" />
  </div>
  <div id="hero-texts">
    <h3>Hi, I'm Isaac Mark — Web dev</h3>
    <p id="typed-words">
      I turn logic into experience — one line of code at a time.
    </p>
    <div id="cta-box">
      <button class="cta"><a href="#projects-place">view my work</a></button>
      <button class="cta"><a href="#contact-place">contact</a></button>
    </div>
    <div class="social-links">
      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/isaac-oghenekaro-939a742a7/"
        target="_blank"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>

      <!-- GitHub -->
      <a href="https://github.com/Tideman2" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>

      <!-- WhatsApp -->
      <a
        href="https://wa.me/2347078768665"
        target="_blank"
        aria-label="WhatsApp"
      >
        <i class="fab fa-whatsapp"></i>
      </a>

      <!-- Gmail -->
      <a href="mailto:isaacmark83@gmail.com" target="_blank" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</section>
