<section id="contact-section">
  <div class="headers" id="contact-first-div">
    <h2>Contact Me</h2>
    <p>Get in touch for collaborations or inquiries</p>
  </div>
  <div id="connect">
    <h3>Let's connect</h3>
    <ul>
      <li>
        <i class="fab fa-linkedin"></i>
        <a
          class="text"
          href="https://www.linkedin.com/in/isaac-oghenekaro-939a742a7/"
          target="_blank"
          aria-label="LinkedIn"
        >
          My linkedin profile
        </a>
      </li>
      <li>
        <i class="fab fa-github"></i>
        <a
          class="text"
          href="https://github.com/Tideman2"
          target="_blank"
          aria-label="GitHub"
        >
          My github profile
        </a>
      </li>
      <li>
        <i class="fab fa-whatsapp"></i>
        <a
          class="text"
          href="https://wa.me/2347078768665"
          target="_blank"
          aria-label="WhatsApp"
        >
          Dm on WhatsApp
        </a>
      </li>
      <li>
        <i class="fas fa-envelope"></i>
        <a
          class="text"
          href="mailto:isaacmark83@gmail.com"
          target="_blank"
          aria-label="Email"
        >
          Reach me on Gmail
        </a>
      </li>
    </ul>
  </div>
  <form id="message-me-form">
    <fieldset>
      <legend>Send me a message</legend>
      <input type="text" placeholder="Your-Name" name="name" />
      <input type="email" placeholder="Your email" name="email" />
      <input type="text" placeholder="Subject" name="subject" />
      <textarea placeholder="Your message" name="message"></textarea>
      <div id="notytag-button-container">
        <p id="notification-tag"></p>
        <button class="cta" id="message-me-btn">Submit</button>
      </div>
    </fieldset>
  </form>
</section>
