<template>
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="../../assets/retroDev.png" alt="" />
        <h3 class="title"></h3>
        <p class="about-project"></p>
        <ul class="stack"></ul>
      </div>
      <div class="card-back">
        <a class="view-code" target="_blank" rel="noopener noreferrer"
          >View-code</a
        >
        <a class="live-demo" target="_blank" rel="noopener noreferrer"
          >View-live</a
        >
      </div>
    </div>
  </div>
</template>
