<section id="about">
  <div class="headers">
    <h2>About me</h2>
    <p>Get to know me a little better</p>
  </div>
  <div class="my-img-con">
    <img src="assets/retroDev.png" alt="pic-of-coder" />
  </div>

  <div id="about-texts">
    <p>
      I'm a self-taught frontend developer with over 2 years of hands-on
      experience building responsive web apps using HTML, CSS, and JavaScript. I
      enjoy learning by doing — solving algorithmic problems and building
      real-world projects to deepen my understanding. Along the way, I’ve also
      worked with modern tools like React, Tailwind CSS, and Material UI (MUI)
      to create dynamic, user-friendly interfaces. Also build rest APIs servers
      using python and sql
    </p>
    <p>
      This portfolio was built without frameworks to sharpen my core
      understanding of the web. I focused on clean structure, accessibility, and
      modularity. Every challenge — whether design-related or algorithmic — is
      an opportunity to think deeper and grow as a developer.
    </p>
  </div>
</section>
