html {
  font-size: 16px;
}

#about {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  height: fit-content;
  gap: 50px;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.headers h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--accent);
}

.headers > p {
  font-size: clamp(1rem, 3vw, 1.3rem);
  color: var(--text-color);
}

.my-img-con {
  width: fit-content;
  height: fit-content;
  top: 0;
  overflow: visible;
  border: 5px solid var(--accent);
}

.my-img-con img {
  width: clamp(200px, 40vw, 400px);
  height: clamp(200px, 40vw, 400px);
  position: relative;
  top: 20px;
  left: 20px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Adds some visual depth */
}
#about-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#about-texts > p {
  /* background-color: var(--card-bg); */
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color);
  font-size: clamp(1rem, 3vw, 1.2rem); /* Scales nicely across devices */
}

@media (min-width: 975px) {
  #about {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    justify-items: center;
    align-items: center;
    height: fit-content;
    gap: 50px;
  }

  .headers {
    grid-column: span 2;
  }

  #about-texts > p {
    text-align: start;
  }
}

@media (max-width: 970px) {
  #about {
    display: grid;
  }
}
